<h1>{{name}}</h1>
<div class="wrapper">
    <div class="task-input">
        <input [(ngModel)]="newTodo" (keyup.enter)="setValue()" type="text" placeholder="Add a New Task + Enter">
    </div>
    <div class="controls">
        <div class="filters">
            <span class="active" id="all" [ngClass]="{'active': (statusSelected$ | async) == 'all'}"
                (click)="selectByStatus('all')">All ({{ (todosSummary$ | async)?.total }})</span>
            <span id="pending" [ngClass]="{'active': (statusSelected$ | async) == 'pending'}"
                (click)="selectByStatus('pending')">Pending ({{ (todosSummary$ | async)?.pending }})</span>
            <span id="completed" [ngClass]="{'active': (statusSelected$ | async) == 'completed'}"
                (click)="selectByStatus('completed')">
                <i class="bi bi-check2-all"></i>Completed ({{ (todosSummary$ | async)?.completed }}/{{ (todosSummary$ |
                async)?.total }})</span>
            <span id="favorite" [ngClass]="{'active': (statusSelected$ | async) == 'favorite'}"
                (click)="selectByStatus('favorite')">
                <i class="bi bi-heart"></i>Favorite ({{ (todosSummary$ | async)?.favorite }})</span>
            <span id="deleted" [ngClass]="{'active': (statusSelected$ | async) == 'deleted'}"
                (click)="selectByStatus('deleted')">
                <i class="bi bi-trash"></i>Deleted ({{ (todosSummary$ | async)?.deleted }})</span>
        </div>
        <button type="button" class="clear-btn" (click)="clearAll()">Clear All</button>
    </div>
    <ul class="task-box">
        <app-todo class="task" *ngFor="let todo of todos$ | async" [id]=todo.id [todo]="todo.todo"
            [favorite]="todo.favorite" [completed]="todo.completed" (toggleEvent)="toggleCompleted($event)"
            (deleteEvent)="deleteTodo($event)" (loveEvent)="loveTodo($event)"></app-todo>
    </ul>
</div>