footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #eee;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto 0;
}

footer a {
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-family: Futura;
    text-shadow: rgba(245, 245, 245, 0.5) 3px 5px 1px;
}

.social {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

.social a {
    text-decoration: none;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.6;
}

.social a:hover {
    opacity: 1;
}

.social a i {
    font-size: 1.5rem;
}