<div class="container">
    <h2 class="login-title">Log in</h2>

    <form class="login-form" #templateDrivenForm="ngForm" (ngSubmit)="handleFormSubmit(templateDrivenForm)">
        <div>
            <label for="name">Name </label>
            <input id="name" type="text" placeholder="Adel" ngModel name="name" required />
            <span class="text-danger"
                *ngIf="templateDrivenForm.controls['name']?.invalid && templateDrivenForm.controls['name'].dirty">
                Name is required
            </span>
        </div>

        <div>
            <label for="email">Email </label>
            <input id="email" type="email" placeholder="Adel@mail.com" ngModel name="email" required />
            <span class="text-danger"
                *ngIf="templateDrivenForm.controls['email']?.invalid && templateDrivenForm.controls['email'].dirty">
                Email is required
            </span>
        </div>

        <button class="btn btn--form" type="submit" value="Log in" [disabled]="templateDrivenForm.invalid">
            Log in
        </button>
    </form>
</div>