<div class="container">
    <h2 class="login-title">Sign in</h2>

    <form class="login-form" [formGroup]="signForm" (ngSubmit)="handleSubmit()">
        <div>
            <label for="name">Name </label>
            <input id="name" type="text" placeholder="Adel" name="name" required formControlName="name" />
            <span class="text-danger" *ngIf="signForm.get('name')?.invalid && signForm.get('name')?.touched">
                Name is invalid
            </span>
        </div>

        <div>
            <label for="email">Email </label>
            <input id="email" type="email" placeholder="Adel@example.com" name="email" required
                formControlName="email" />
            <span class="text-danger" *ngIf="signForm.get('email')?.invalid && signForm.get('email')?.touched">
                Email is invalid
            </span>
        </div>

        <div>
            <label for="quote">Quote</label>
            <input id="quote" type="quote" placeholder="Just do it" name="quote" required formControlName="quote" />
            <span class="text-danger" *ngIf="signForm.get('quote')?.invalid && signForm.get('quote')?.touched">
                Quote is invalid
            </span>
        </div>

        <button class="btn btn--form" type="submit" value="Log in" [disabled]="signForm.invalid">
            Sign in
        </button>
    </form>
</div>