.navbar {
    border-bottom: 2px solid #f8b574;
    padding: 10px 50px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    margin-right: 10px;
    transition: color 0.3s;
    display: flex;
    align-items: center
}

.navbar-nav .nav-link i {
    margin-right: 5px;
    font-size: 1.2rem;
}

.navbar-nav .nav-link .icon-label {
    font-size: 0.8rem;
    color: #fff;
    padding: 0px 5px;
    border-radius: 10px;
    position: relative;
    top: -3px;
    margin-left: 3px;
}

.user-img img {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.user-img img:hover {
    border-color: #f5af19;
    box-shadow: 0 0 5px #f5af19;
}

.btn-primary {
    background-color: #f5af19;
    border-color: #f5af19;
}

.btn-primary:hover {
    opacity: 0.9;
}

.btn-link {
    text-decoration: none;
}

.btn {
    opacity: 0.6;
    background: linear-gradient(135deg, #f5af19 0%, #f12711 100%);
}

.navbar-nav {
    flex-direction: row;
}